<div class="btn-group" role="group" aria-label="...">
	{{#routes}}
		{{{route}}} /
  {{/routes}}
</div>
<br><br>
<div class="list-group" id="issue-table">
	<li class="list-group-item">
		<table class="table">
			{{#issue}}
			  <tr>
					<td>
						<strong>Name:</strong>
					</td>
					<td>
						<input type="text" name="" class="form-control detailView-input" id="detailView-title" value="{{title}}" disabled>
					</td>
			  </tr>
				<tr>
					<td>
						<strong>Description:</strong>
					</td>
					<td>
						<textarea name="" class="form-control detailView-input" id="detailView-description" rows="4" disabled>{{description}}</textarea>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Project:</strong>
					</td>
					<td class="text-muted">
						{{project}}
					</td>
				</tr>
				<tr>
					<td>
						<strong>Completed:</strong>
					</td>
					<td>
						<input type='checkbox' class="detailView-input" id="detailView-completed" {{completed}} disabled>
					</td>
				</tr>
				<tr>
					<td>
						<strong>Action:</strong>
					</td>
					<td>
						<button class="btn btn-success" id="issueShake-button">Shake</button>
						<button class="btn btn-warning issueEdit-button-editState" id="issueEdit-button">Edit</button>
						<button class="btn btn-danger" id="issueDelete-button">Delete</button>
					</td>
				</tr>
		   {{/issue}}
		</table>
	 </li>
</div>
