
<div class="btn-group" role="group" aria-label="...">
	{{#routes}}
		{{{route}}} /
  	{{/routes}}
</div>
<br><br>
	<button class="btn btn-primary collapseNewIssue-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	  Add new Issue
	</button>

	<div class="collapse" id="collapseNewIssue-block">
	<br>
		<div class="well">
			<form>
				<div class="input-group">
				    <div class="input-group-addon">New Issue</div>
				    <input type="text" class="form-control" id="newIssue-input-title" value="">
				</div>
				<br>
				<div class="input-group">
				    <div class="input-group-addon">Description</div>
				    <textarea id="newIssue-input-description" class="form-control" rows="4"></textarea>
				</div>

				<div class="checkbox">
					<label><input  id="newIssue-input-completed" type="checkbox">Completed</label>
				</div>

				<button class="btn btn-primary btn-lg btn-block" id="newIssue-button">Add</button>			    
			</form>
		</div>
	</div>

<div class="list-group">
<br>
	{{#issues}}
	  <li class="list-group-item issue">
	    <strong>{{title}}</strong>
	  </li>
   {{/issues}}
</div>
