<div class="header">

  <h2>Issues Tracker</h2>

  <div class="block please_wait alert alert-danger">
    <strong>Data loading...</strong> Please wait
  </div>

  <div class="block js-project-list"></div>
  <div class="block js-issue-list"></div>
  <div class="block js-issue-detail"></div>

</div>
