<div class="header">

  <h2>Issues Tracker</h2>

  <a href="#/project_list">project_list </a>|
  <a href="#/issue_list">issue_list </a>|
  <a href="#/issue_detail">issue_detail</a>
  
  <div class="js-route-list"></div>
  
  <h3 class="text-muted">Select Project</h3>
  
  <div class="block js-project-list"></div>
  <div class="block js-issue-list"></div>
  <div class="block js-issue-detail"></div>

</div>