<div class="btn-group" role="group" aria-label="...">
	{{#routes}}
		{{{route}}} /
  	{{/routes}}
</div>
<br><br>
<div class="list-group">
	<ul>
	{{#projects}}
	  <li class="list-group-item project">
	  	<span class="badge">{{qt}}</span>
	    <strong>{{name}}</strong>
	  </li>
   {{/projects}}
   </ul>
</div>
